In [1]:
import pandas as pd
import numpy as np

In [2]:
# svd_df = pd.read_csv("../data/svd_rec_items.csv")
tfidf = pd.read_csv("../data/tfidf_rec_items.csv")
tfidf

,model,reviewerID,act_products,rec_products
0,tfidf,34418,"{6025, 10159, 113712, 1944, 2079}","[37322, 33589, 9996, 33587, 15391, 9103, 5845,..."
1,tfidf,41538,"{24165, 92718, 25519, 130069, 130070}","[14026, 24949, 72347, 76071, 75182, 29744, 709..."
2,tfidf,8132,"{7556, 11929, 6431, 1695, 9127, 31274, 22578, ...","[127513, 47002, 928, 7664, 8504, 13805, 8138, ..."
3,tfidf,36218,"{30080, 6506, 2737, 11091, 601}","[2740, 5442, 137895, 19992, 18540, 5491, 2739,..."
4,tfidf,9127,"{40609, 40610, 40611, 54276, 11589, 35180, 401...","[107910, 155001, 17877, 15707, 83502, 2879, 20..."
5,tfidf,41538,"{24165, 92718, 25519, 130069, 130070}","[14026, 24949, 72347, 76071, 75182, 29744, 709..."
6,tfidf,7356,"{77846, 140279, 34009, 34010, 34011}","[144563, 33414, 53214, 8406, 7575, 8409, 33574..."
7,tfidf,7588,"{34875, 46947, 7025, 54732}","[20326, 31900, 28304, 12650, 20327, 79, 9535, ..."

In [3]:
def clean_data(df,column,r,r1):
    df[column] = df[column].str.replace(r, "")
    df[column] = df[column].str.replace(r1, "")
    df[column] = df[column].str.replace(" ", "")
    df[column] = df[column].str.split(",")
    return df

In [4]:
tfidf = clean_data(tfidf, "act_products", "{","}")
tfidf.head()

,model,reviewerID,act_products,rec_products
0,tfidf,34418,"[6025, 10159, 113712, 1944, 2079]","[37322, 33589, 9996, 33587, 15391, 9103, 5845,..."
1,tfidf,41538,"[24165, 92718, 25519, 130069, 130070]","[14026, 24949, 72347, 76071, 75182, 29744, 709..."
2,tfidf,8132,"[7556, 11929, 6431, 1695, 9127, 31274, 22578, ...","[127513, 47002, 928, 7664, 8504, 13805, 8138, ..."
3,tfidf,36218,"[30080, 6506, 2737, 11091, 601]","[2740, 5442, 137895, 19992, 18540, 5491, 2739,..."
4,tfidf,9127,"[40609, 40610, 40611, 54276, 11589, 35180, 401...","[107910, 155001, 17877, 15707, 83502, 2879, 20..."

In [5]:
tfidf = clean_data(tfidf, "rec_products", "[","]")
tfidf.head()

,model,reviewerID,act_products,rec_products
0,tfidf,34418,"[6025, 10159, 113712, 1944, 2079]","[37322, 33589, 9996, 33587, 15391, 9103, 5845,..."
1,tfidf,41538,"[24165, 92718, 25519, 130069, 130070]","[14026, 24949, 72347, 76071, 75182, 29744, 709..."
2,tfidf,8132,"[7556, 11929, 6431, 1695, 9127, 31274, 22578, ...","[127513, 47002, 928, 7664, 8504, 13805, 8138, ..."
3,tfidf,36218,"[30080, 6506, 2737, 11091, 601]","[2740, 5442, 137895, 19992, 18540, 5491, 2739,..."
4,tfidf,9127,"[40609, 40610, 40611, 54276, 11589, 35180, 401...","[107910, 155001, 17877, 15707, 83502, 2879, 20..."

In [6]:
tfidf = tfidf.rename(columns={"act_products":"prior_product_ids", "rec_products":"rec_product_ids"})
tfidf.head()

,model,reviewerID,prior_product_ids,rec_product_ids
0,tfidf,34418,"[6025, 10159, 113712, 1944, 2079]","[37322, 33589, 9996, 33587, 15391, 9103, 5845,..."
1,tfidf,41538,"[24165, 92718, 25519, 130069, 130070]","[14026, 24949, 72347, 76071, 75182, 29744, 709..."
2,tfidf,8132,"[7556, 11929, 6431, 1695, 9127, 31274, 22578, ...","[127513, 47002, 928, 7664, 8504, 13805, 8138, ..."
3,tfidf,36218,"[30080, 6506, 2737, 11091, 601]","[2740, 5442, 137895, 19992, 18540, 5491, 2739,..."
4,tfidf,9127,"[40609, 40610, 40611, 54276, 11589, 35180, 401...","[107910, 155001, 17877, 15707, 83502, 2879, 20..."

In [7]:
df_products = pd.read_csv("../data/products.csv")
df_products.head()

,product_id,imUrl,product_name
0,1,http://ecx.images-amazon.com/images/I/31bmhqq5...,"Cheap Monday Women's Tight Fit Jean, Hard Coat..."
1,2,http://ecx.images-amazon.com/images/I/31hFOdT1...,Cheap Monday Women's Skinny Tight Jean
2,3,http://ecx.images-amazon.com/images/I/41-ZK3vb...,ELLAZHU Women Crew Neck Crane &amp; Fox Short ...
3,4,http://ecx.images-amazon.com/images/I/51l0gD82...,ELLAZHU Women Geometrical Designs 3/4 Sleeve C...
4,5,http://ecx.images-amazon.com/images/I/41bWE1aG...,ELLAZHU Women Baggy Diagonal Stripes Long Slee...

In [8]:
def extend_product_imurl(df, column1, column2, ids):
    df[column1] = df['reviewerID']
    df[column2] = df['reviewerID']

    for i in range(0,len(df[column1])):
        pp = df[ids][i]
        p_name = []
        p_imurl = []
        for p in pp:
            p_imurl.append(df_products.loc[df_products["product_id"]==int(p)].imUrl.values[0])
            p_name.append(df_products.loc[df_products["product_id"]==int(p)].product_name.values[0])
        df[column1][i] = p_name
        df[column2][i] = p_imurl
    return df

In [9]:
tfidf = extend_product_imurl(tfidf, "prior_products", "prior_imurl","prior_product_ids")
tfidf.head()

C:\Users\Thidar.Tin\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
C:\Users\Thidar.Tin\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
C:\Users\Thidar.Tin\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]

,model,reviewerID,prior_product_ids,rec_product_ids,prior_products,prior_imurl
0,tfidf,34418,"[6025, 10159, 113712, 1944, 2079]","[37322, 33589, 9996, 33587, 15391, 9103, 5845,...","[KEEN Women's Kaci Clog, Ingear Silver Bungee ...",[http://ecx.images-amazon.com/images/I/41ttJiD...
1,tfidf,41538,"[24165, 92718, 25519, 130069, 130070]","[14026, 24949, 72347, 76071, 75182, 29744, 709...","[GOGO 3&quot; Stretch Knee Boot, Red Patent-Si...",[http://ecx.images-amazon.com/images/I/31G5J7X...
2,tfidf,8132,"[7556, 11929, 6431, 1695, 9127, 31274, 22578, ...","[127513, 47002, 928, 7664, 8504, 13805, 8138, ...","[Ivanka Trump Women's Aryella Platform Sandal,...",[http://ecx.images-amazon.com/images/I/41PXOxE...
3,tfidf,36218,"[30080, 6506, 2737, 11091, 601]","[2740, 5442, 137895, 19992, 18540, 5491, 2739,...",[ZUTANO Boys 2-7 Cozie Bold Strap Zip Jacket w...,[http://ecx.images-amazon.com/images/I/51a3gj8...
4,tfidf,9127,"[40609, 40610, 40611, 54276, 11589, 35180, 401...","[107910, 155001, 17877, 15707, 83502, 2879, 20...","[Pour La Victoire Women's Beatrice Flat,Oak,6 ...",[http://ecx.images-amazon.com/images/I/41vng5-...

In [10]:
tfidf = extend_product_imurl(tfidf, "rec_tfidf_products", "rec_tfidf_imurl","rec_product_ids")
tfidf.head()

C:\Users\Thidar.Tin\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
C:\Users\Thidar.Tin\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]

,model,reviewerID,prior_product_ids,rec_product_ids,prior_products,prior_imurl,rec_tfidf_products,rec_tfidf_imurl
0,tfidf,34418,"[6025, 10159, 113712, 1944, 2079]","[37322, 33589, 9996, 33587, 15391, 9103, 5845,...","[KEEN Women's Kaci Clog, Ingear Silver Bungee ...",[http://ecx.images-amazon.com/images/I/41ttJiD...,[Michael Shaffer Elizabeth Bathory Spaghetti S...,[http://ecx.images-amazon.com/images/I/41wNmuf...
1,tfidf,41538,"[24165, 92718, 25519, 130069, 130070]","[14026, 24949, 72347, 76071, 75182, 29744, 709...","[GOGO 3&quot; Stretch Knee Boot, Red Patent-Si...",[http://ecx.images-amazon.com/images/I/31G5J7X...,[Baby Phat - Kids Girls 7-16 Denim Bubble Skir...,[http://ecx.images-amazon.com/images/I/51Ui39k...
2,tfidf,8132,"[7556, 11929, 6431, 1695, 9127, 31274, 22578, ...","[127513, 47002, 928, 7664, 8504, 13805, 8138, ...","[Ivanka Trump Women's Aryella Platform Sandal,...",[http://ecx.images-amazon.com/images/I/41PXOxE...,[Southpole Juniors Sequins Class of 91 Fashion...,[http://ecx.images-amazon.com/images/I/41IFPYD...
3,tfidf,36218,"[30080, 6506, 2737, 11091, 601]","[2740, 5442, 137895, 19992, 18540, 5491, 2739,...",[ZUTANO Boys 2-7 Cozie Bold Strap Zip Jacket w...,[http://ecx.images-amazon.com/images/I/51a3gj8...,[Keds Ella Mary Jane Sneaker (Toddler/Little K...,[http://ecx.images-amazon.com/images/I/41r7Gzp...
4,tfidf,9127,"[40609, 40610, 40611, 54276, 11589, 35180, 401...","[107910, 155001, 17877, 15707, 83502, 2879, 20...","[Pour La Victoire Women's Beatrice Flat,Oak,6 ...",[http://ecx.images-amazon.com/images/I/41vng5-...,"[Children's Softshell Waterproof Jacket Camo, ...",[http://ecx.images-amazon.com/images/I/51SwhnB...

In [11]:
new_df = tfidf[['reviewerID','prior_products','prior_imurl','rec_tfidf_products','rec_tfidf_imurl']]
new_df.head()

,reviewerID,prior_products,prior_imurl,rec_tfidf_products,rec_tfidf_imurl
0,34418,"[KEEN Women's Kaci Clog, Ingear Silver Bungee ...",[http://ecx.images-amazon.com/images/I/41ttJiD...,[Michael Shaffer Elizabeth Bathory Spaghetti S...,[http://ecx.images-amazon.com/images/I/41wNmuf...
1,41538,"[GOGO 3&quot; Stretch Knee Boot, Red Patent-Si...",[http://ecx.images-amazon.com/images/I/31G5J7X...,[Baby Phat - Kids Girls 7-16 Denim Bubble Skir...,[http://ecx.images-amazon.com/images/I/51Ui39k...
2,8132,"[Ivanka Trump Women's Aryella Platform Sandal,...",[http://ecx.images-amazon.com/images/I/41PXOxE...,[Southpole Juniors Sequins Class of 91 Fashion...,[http://ecx.images-amazon.com/images/I/41IFPYD...
3,36218,[ZUTANO Boys 2-7 Cozie Bold Strap Zip Jacket w...,[http://ecx.images-amazon.com/images/I/51a3gj8...,[Keds Ella Mary Jane Sneaker (Toddler/Little K...,[http://ecx.images-amazon.com/images/I/41r7Gzp...
4,9127,"[Pour La Victoire Women's Beatrice Flat,Oak,6 ...",[http://ecx.images-amazon.com/images/I/41vng5-...,"[Children's Softshell Waterproof Jacket Camo, ...",[http://ecx.images-amazon.com/images/I/51SwhnB...

In [12]:
type(new_df["rec_tfidf_imurl"][0][0])

str

In [13]:
imf_df = pd.read_csv("../data/imf_rec_items.csv")
imf_df

,model,reviewerID,act_products,act_imurl,rec_products,rec_imurl
0,imf,34418,[9996],['http://ecx.images-amazon.com/images/I/4111Kb...,"[3040, 2396, 1645, 1184, 8238, 2571, 10569, 39...",['http://ecx.images-amazon.com/images/I/3154y3...
1,imf,17284,[9993],['http://ecx.images-amazon.com/images/I/4107Wh...,"[1919, 5325, 1921, 5327, 17879, 9993, 1665, 13...",['http://ecx.images-amazon.com/images/I/313w3A...
2,imf,8132,[12286],['http://ecx.images-amazon.com/images/I/410kFy...,"[889, 12286, 1696, 5326, 170, 834, 5033, 2789,...",['http://ecx.images-amazon.com/images/I/51BSOT...
3,imf,36218,[194],['http://ecx.images-amazon.com/images/I/41aO7q...,"[194, 647, 12397, 10000, 5807, 5845, 2501, 168...",['http://ecx.images-amazon.com/images/I/41aO7q...
4,imf,9127,[1804],['http://ecx.images-amazon.com/images/I/41zQlt...,"[1664, 4091, 1804, 2410, 5629, 117, 1580, 1907...",['http://ecx.images-amazon.com/images/I/31DT-I...
5,imf,41538,[3831],['http://ecx.images-amazon.com/images/I/31vWzt...,"[2529, 1645, 16106, 2853, 536, 1658, 1184, 194...",['http://ecx.images-amazon.com/images/I/41QBRh...
6,imf,7356,[4619],['http://ecx.images-amazon.com/images/I/41TLnw...,"[7575, 4619, 23978, 3691, 3897, 5326, 1397, 89...",['http://ecx.images-amazon.com/images/I/41vxPM...
7,imf,7588,[79],['http://ecx.images-amazon.com/images/I/41W31u...,"[79, 1849, 4609, 1224, 4121, 848, 25743, 6353,...",['http://ecx.images-amazon.com/images/I/41W31u...

In [14]:
imf_df = clean_data(imf_df, "act_products", "[","]")
imf_df = clean_data(imf_df, "act_imurl", "[","]")
imf_df = clean_data(imf_df, "rec_products", "[","]")
imf_df = clean_data(imf_df, "rec_imurl", "[","]")
imf_df = imf_df.rename(columns={'rec_products':'rec_imf_product_id','rec_imurl':'rec_imf_imurl'})
imf_df.head()

,model,reviewerID,act_products,act_imurl,rec_imf_product_id,rec_imf_imurl
0,imf,34418,[9996],['http://ecx.images-amazon.com/images/I/4111Kb...,"[3040, 2396, 1645, 1184, 8238, 2571, 10569, 39...",['http://ecx.images-amazon.com/images/I/3154y3...
1,imf,17284,[9993],['http://ecx.images-amazon.com/images/I/4107Wh...,"[1919, 5325, 1921, 5327, 17879, 9993, 1665, 13...",['http://ecx.images-amazon.com/images/I/313w3A...
2,imf,8132,[12286],['http://ecx.images-amazon.com/images/I/410kFy...,"[889, 12286, 1696, 5326, 170, 834, 5033, 2789,...",['http://ecx.images-amazon.com/images/I/51BSOT...
3,imf,36218,[194],['http://ecx.images-amazon.com/images/I/41aO7q...,"[194, 647, 12397, 10000, 5807, 5845, 2501, 168...",['http://ecx.images-amazon.com/images/I/41aO7q...
4,imf,9127,[1804],['http://ecx.images-amazon.com/images/I/41zQlt...,"[1664, 4091, 1804, 2410, 5629, 117, 1580, 1907...",['http://ecx.images-amazon.com/images/I/31DT-I...

In [15]:
imf_df = extend_product_imurl(imf_df, "rec_imf_products", "rec_imf_imurl","rec_imf_product_id")
imf_df.head()

C:\Users\Thidar.Tin\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
C:\Users\Thidar.Tin\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]

,model,reviewerID,act_products,act_imurl,rec_imf_product_id,rec_imf_imurl,rec_imf_products
0,imf,34418,[9996],['http://ecx.images-amazon.com/images/I/4111Kb...,"[3040, 2396, 1645, 1184, 8238, 2571, 10569, 39...",[http://ecx.images-amazon.com/images/I/3154y3s...,"[AK Anne Klein Women's Billing Su Ankle Boot, ..."
1,imf,17284,[9993],['http://ecx.images-amazon.com/images/I/4107Wh...,"[1919, 5325, 1921, 5327, 17879, 9993, 1665, 13...",[http://ecx.images-amazon.com/images/I/313w3Aa...,"[Pendleton Women's Double Time Vest, Roamans W..."
2,imf,8132,[12286],['http://ecx.images-amazon.com/images/I/410kFy...,"[889, 12286, 1696, 5326, 170, 834, 5033, 2789,...",[http://ecx.images-amazon.com/images/I/51BSOTe...,"[Enzo Angiolini Women's Yoshi Sandal, CONCITOR..."
3,imf,36218,[194],['http://ecx.images-amazon.com/images/I/41aO7q...,"[194, 647, 12397, 10000, 5807, 5845, 2501, 168...",[http://ecx.images-amazon.com/images/I/41aO7qu...,"[Franco Sarto Women's Danish Slingback Sandal,..."
4,imf,9127,[1804],['http://ecx.images-amazon.com/images/I/41zQlt...,"[1664, 4091, 1804, 2410, 5629, 117, 1580, 1907...",[http://ecx.images-amazon.com/images/I/31DT-IR...,"[ACORN Women's New Spa Slide Slipper, Keds Wom..."

In [16]:
type(imf_df["rec_imf_products"][0])

list

In [17]:
svd_df = pd.read_csv("../data/svd_rec_items.csv")
svd_df.head()

,model,reviewerID,act_products,act_imurl,rec_products,rec_imurl
0,svd,34418,[9996],['http://ecx.images-amazon.com/images/I/4111Kb...,"[1696, 2571, 647, 1646, 3882, 1919, 3379, 1928...",['http://ecx.images-amazon.com/images/I/41rG82...
1,svd,17284,[9993],['http://ecx.images-amazon.com/images/I/4107Wh...,"[1919, 272, 1397, 839, 1921, 700, 6769, 5325, ...",['http://ecx.images-amazon.com/images/I/313w3A...
2,svd,8132,[12286],['http://ecx.images-amazon.com/images/I/410kFy...,"[11737, 1919, 1397, 889, 839, 272, 4567, 193, ...",['http://ecx.images-amazon.com/images/I/41Hvn6...
3,svd,36218,[194],['http://ecx.images-amazon.com/images/I/41aO7q...,"[10000, 194, 647, 1649, 378, 794, 791, 1862, 4...",['http://ecx.images-amazon.com/images/I/41hj6S...
4,svd,9127,[1804],['http://ecx.images-amazon.com/images/I/41zQlt...,"[700, 1804, 1919, 601, 5326, 4595, 11798, 1397...",['http://ecx.images-amazon.com/images/I/516vLP...

In [18]:
svd_df = clean_data(svd_df, "act_products", "[","]")
svd_df = clean_data(svd_df, "act_imurl", "[","]")
svd_df = clean_data(svd_df, "rec_products", "[","]")
svd_df = clean_data(svd_df, "rec_imurl", "[","]")
svd_df = svd_df.rename(columns={'rec_products':'rec_svd_product_id','act_products':'act_product_id'})
svd_df.head()

,model,reviewerID,act_product_id,act_imurl,rec_svd_product_id,rec_imurl
0,svd,34418,[9996],['http://ecx.images-amazon.com/images/I/4111Kb...,"[1696, 2571, 647, 1646, 3882, 1919, 3379, 1928...",['http://ecx.images-amazon.com/images/I/41rG82...
1,svd,17284,[9993],['http://ecx.images-amazon.com/images/I/4107Wh...,"[1919, 272, 1397, 839, 1921, 700, 6769, 5325, ...",['http://ecx.images-amazon.com/images/I/313w3A...
2,svd,8132,[12286],['http://ecx.images-amazon.com/images/I/410kFy...,"[11737, 1919, 1397, 889, 839, 272, 4567, 193, ...",['http://ecx.images-amazon.com/images/I/41Hvn6...
3,svd,36218,[194],['http://ecx.images-amazon.com/images/I/41aO7q...,"[10000, 194, 647, 1649, 378, 794, 791, 1862, 4...",['http://ecx.images-amazon.com/images/I/41hj6S...
4,svd,9127,[1804],['http://ecx.images-amazon.com/images/I/41zQlt...,"[700, 1804, 1919, 601, 5326, 4595, 11798, 1397...",['http://ecx.images-amazon.com/images/I/516vLP...

In [19]:
svd_df = extend_product_imurl(svd_df, "rec_svd_products", "rec_svd_imurl","rec_svd_product_id")
svd_df.head()

C:\Users\Thidar.Tin\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
C:\Users\Thidar.Tin\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]

,model,reviewerID,act_product_id,act_imurl,rec_svd_product_id,rec_imurl,rec_svd_products,rec_svd_imurl
0,svd,34418,[9996],['http://ecx.images-amazon.com/images/I/4111Kb...,"[1696, 2571, 647, 1646, 3882, 1919, 3379, 1928...",['http://ecx.images-amazon.com/images/I/41rG82...,"[Unisa Women's Macie Thong Sandal,White,9 M US...",[http://ecx.images-amazon.com/images/I/41rG82X...
1,svd,17284,[9993],['http://ecx.images-amazon.com/images/I/4107Wh...,"[1919, 272, 1397, 839, 1921, 700, 6769, 5325, ...",['http://ecx.images-amazon.com/images/I/313w3A...,"[Pendleton Women's Double Time Vest, Zeagoo Wo...",[http://ecx.images-amazon.com/images/I/313w3Aa...
2,svd,8132,[12286],['http://ecx.images-amazon.com/images/I/410kFy...,"[11737, 1919, 1397, 889, 839, 272, 4567, 193, ...",['http://ecx.images-amazon.com/images/I/41Hvn6...,"[A2 Women's Propeller Wedge Sandal, Pendleton ...",[http://ecx.images-amazon.com/images/I/41Hvn67...
3,svd,36218,[194],['http://ecx.images-amazon.com/images/I/41aO7q...,"[10000, 194, 647, 1649, 378, 794, 791, 1862, 4...",['http://ecx.images-amazon.com/images/I/41hj6S...,"[Boutique 9 Women's Jacquelin Pump, Franco Sar...",[http://ecx.images-amazon.com/images/I/41hj6SE...
4,svd,9127,[1804],['http://ecx.images-amazon.com/images/I/41zQlt...,"[700, 1804, 1919, 601, 5326, 4595, 11798, 1397...",['http://ecx.images-amazon.com/images/I/516vLP...,[Qupid Puffin-38 Orange Velvet Women Ankle Boo...,[http://ecx.images-amazon.com/images/I/516vLP5...

In [20]:
svd_df = extend_product_imurl(svd_df, "act_products", "act_imurl","act_product_id")
svd_df.head()

C:\Users\Thidar.Tin\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
C:\Users\Thidar.Tin\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]

,model,reviewerID,act_product_id,act_imurl,rec_svd_product_id,rec_imurl,rec_svd_products,rec_svd_imurl,act_products
0,svd,34418,[9996],[http://ecx.images-amazon.com/images/I/4111KbE...,"[1696, 2571, 647, 1646, 3882, 1919, 3379, 1928...",['http://ecx.images-amazon.com/images/I/41rG82...,"[Unisa Women's Macie Thong Sandal,White,9 M US...",[http://ecx.images-amazon.com/images/I/41rG82X...,[Clarks Women's Clarks Morse Tour Sandal]
1,svd,17284,[9993],[http://ecx.images-amazon.com/images/I/4107Wh3...,"[1919, 272, 1397, 839, 1921, 700, 6769, 5325, ...",['http://ecx.images-amazon.com/images/I/313w3A...,"[Pendleton Women's Double Time Vest, Zeagoo Wo...",[http://ecx.images-amazon.com/images/I/313w3Aa...,[Cherry K Crochet Turtleneck Sweater Dress in ...
2,svd,8132,[12286],[http://ecx.images-amazon.com/images/I/410kFyN...,"[11737, 1919, 1397, 889, 839, 272, 4567, 193, ...",['http://ecx.images-amazon.com/images/I/41Hvn6...,"[A2 Women's Propeller Wedge Sandal, Pendleton ...",[http://ecx.images-amazon.com/images/I/41Hvn67...,[CONCITOR Linen Men's Dress Pants Trousers Fla...
3,svd,36218,[194],[http://ecx.images-amazon.com/images/I/41aO7qu...,"[10000, 194, 647, 1649, 378, 794, 791, 1862, 4...",['http://ecx.images-amazon.com/images/I/41hj6S...,"[Boutique 9 Women's Jacquelin Pump, Franco Sar...",[http://ecx.images-amazon.com/images/I/41hj6SE...,"[Franco Sarto Women's Danish Slingback Sandal,..."
4,svd,9127,[1804],[http://ecx.images-amazon.com/images/I/41zQltg...,"[700, 1804, 1919, 601, 5326, 4595, 11798, 1397...",['http://ecx.images-amazon.com/images/I/516vLP...,[Qupid Puffin-38 Orange Velvet Women Ankle Boo...,[http://ecx.images-amazon.com/images/I/516vLP5...,[Le Soir Pour La Victoire Women's Evelia Wedge...

In [21]:
pop_product_ids = [79, 5326, 889, 193, 601, 1010, 848, 761, 1919, 922]

In [22]:
type(pop_product_ids)

list

In [23]:
pop_product_ids = [79, 5326, 889, 193, 601, 1010, 848, 761, 1919, 922]
svd_df['popular_product_ids'] = [pop_product_ids for i in svd_df.index]
svd_df.head()

,model,reviewerID,act_product_id,act_imurl,rec_svd_product_id,rec_imurl,rec_svd_products,rec_svd_imurl,act_products,popular_product_ids
0,svd,34418,[9996],[http://ecx.images-amazon.com/images/I/4111KbE...,"[1696, 2571, 647, 1646, 3882, 1919, 3379, 1928...",['http://ecx.images-amazon.com/images/I/41rG82...,"[Unisa Women's Macie Thong Sandal,White,9 M US...",[http://ecx.images-amazon.com/images/I/41rG82X...,[Clarks Women's Clarks Morse Tour Sandal],"[79, 5326, 889, 193, 601, 1010, 848, 761, 1919..."
1,svd,17284,[9993],[http://ecx.images-amazon.com/images/I/4107Wh3...,"[1919, 272, 1397, 839, 1921, 700, 6769, 5325, ...",['http://ecx.images-amazon.com/images/I/313w3A...,"[Pendleton Women's Double Time Vest, Zeagoo Wo...",[http://ecx.images-amazon.com/images/I/313w3Aa...,[Cherry K Crochet Turtleneck Sweater Dress in ...,"[79, 5326, 889, 193, 601, 1010, 848, 761, 1919..."
2,svd,8132,[12286],[http://ecx.images-amazon.com/images/I/410kFyN...,"[11737, 1919, 1397, 889, 839, 272, 4567, 193, ...",['http://ecx.images-amazon.com/images/I/41Hvn6...,"[A2 Women's Propeller Wedge Sandal, Pendleton ...",[http://ecx.images-amazon.com/images/I/41Hvn67...,[CONCITOR Linen Men's Dress Pants Trousers Fla...,"[79, 5326, 889, 193, 601, 1010, 848, 761, 1919..."
3,svd,36218,[194],[http://ecx.images-amazon.com/images/I/41aO7qu...,"[10000, 194, 647, 1649, 378, 794, 791, 1862, 4...",['http://ecx.images-amazon.com/images/I/41hj6S...,"[Boutique 9 Women's Jacquelin Pump, Franco Sar...",[http://ecx.images-amazon.com/images/I/41hj6SE...,"[Franco Sarto Women's Danish Slingback Sandal,...","[79, 5326, 889, 193, 601, 1010, 848, 761, 1919..."
4,svd,9127,[1804],[http://ecx.images-amazon.com/images/I/41zQltg...,"[700, 1804, 1919, 601, 5326, 4595, 11798, 1397...",['http://ecx.images-amazon.com/images/I/516vLP...,[Qupid Puffin-38 Orange Velvet Women Ankle Boo...,[http://ecx.images-amazon.com/images/I/516vLP5...,[Le Soir Pour La Victoire Women's Evelia Wedge...,"[79, 5326, 889, 193, 601, 1010, 848, 761, 1919..."

In [24]:
svd_df = extend_product_imurl(svd_df, "popular_products", "popular_imurl","popular_product_ids")
svd_df.head()

C:\Users\Thidar.Tin\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
C:\Users\Thidar.Tin\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]

,model,reviewerID,act_product_id,act_imurl,rec_svd_product_id,rec_imurl,rec_svd_products,rec_svd_imurl,act_products,popular_product_ids,popular_products,popular_imurl
0,svd,34418,[9996],[http://ecx.images-amazon.com/images/I/4111KbE...,"[1696, 2571, 647, 1646, 3882, 1919, 3379, 1928...",['http://ecx.images-amazon.com/images/I/41rG82...,"[Unisa Women's Macie Thong Sandal,White,9 M US...",[http://ecx.images-amazon.com/images/I/41rG82X...,[Clarks Women's Clarks Morse Tour Sandal],"[79, 5326, 889, 193, 601, 1010, 848, 761, 1919...","[UGG Australia Womens Hally Sneaker, Converse ...",[http://ecx.images-amazon.com/images/I/41W31uc...
1,svd,17284,[9993],[http://ecx.images-amazon.com/images/I/4107Wh3...,"[1919, 272, 1397, 839, 1921, 700, 6769, 5325, ...",['http://ecx.images-amazon.com/images/I/313w3A...,"[Pendleton Women's Double Time Vest, Zeagoo Wo...",[http://ecx.images-amazon.com/images/I/313w3Aa...,[Cherry K Crochet Turtleneck Sweater Dress in ...,"[79, 5326, 889, 193, 601, 1010, 848, 761, 1919...","[UGG Australia Womens Hally Sneaker, Converse ...",[http://ecx.images-amazon.com/images/I/41W31uc...
2,svd,8132,[12286],[http://ecx.images-amazon.com/images/I/410kFyN...,"[11737, 1919, 1397, 889, 839, 272, 4567, 193, ...",['http://ecx.images-amazon.com/images/I/41Hvn6...,"[A2 Women's Propeller Wedge Sandal, Pendleton ...",[http://ecx.images-amazon.com/images/I/41Hvn67...,[CONCITOR Linen Men's Dress Pants Trousers Fla...,"[79, 5326, 889, 193, 601, 1010, 848, 761, 1919...","[UGG Australia Womens Hally Sneaker, Converse ...",[http://ecx.images-amazon.com/images/I/41W31uc...
3,svd,36218,[194],[http://ecx.images-amazon.com/images/I/41aO7qu...,"[10000, 194, 647, 1649, 378, 794, 791, 1862, 4...",['http://ecx.images-amazon.com/images/I/41hj6S...,"[Boutique 9 Women's Jacquelin Pump, Franco Sar...",[http://ecx.images-amazon.com/images/I/41hj6SE...,"[Franco Sarto Women's Danish Slingback Sandal,...","[79, 5326, 889, 193, 601, 1010, 848, 761, 1919...","[UGG Australia Womens Hally Sneaker, Converse ...",[http://ecx.images-amazon.com/images/I/41W31uc...
4,svd,9127,[1804],[http://ecx.images-amazon.com/images/I/41zQltg...,"[700, 1804, 1919, 601, 5326, 4595, 11798, 1397...",['http://ecx.images-amazon.com/images/I/516vLP...,[Qupid Puffin-38 Orange Velvet Women Ankle Boo...,[http://ecx.images-amazon.com/images/I/516vLP5...,[Le Soir Pour La Victoire Women's Evelia Wedge...,"[79, 5326, 889, 193, 601, 1010, 848, 761, 1919...","[UGG Australia Womens Hally Sneaker, Converse ...",[http://ecx.images-amazon.com/images/I/41W31uc...

In [25]:
new_df["popular_products"] = svd_df["popular_products"]
new_df["popular_imurl"] = svd_df["popular_imurl"]
new_df["act_products"] = svd_df["act_products"]
new_df["act_imurl"] = svd_df["act_imurl"]
new_df["rec_svd_products"] = svd_df["rec_svd_products"]
new_df["rec_svd_imurl"] = svd_df["rec_svd_imurl"]
new_df["rec_imf_products"] = imf_df["rec_imf_products"]
new_df["rec_imf_imurl"] = imf_df["rec_imf_imurl"]
new_df.head()

C:\Users\Thidar.Tin\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\Thidar.Tin\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,reviewerID,prior_products,prior_imurl,rec_tfidf_products,rec_tfidf_imurl,popular_products,popular_imurl,act_products,act_imurl,rec_svd_products,rec_svd_imurl,rec_imf_products,rec_imf_imurl
0,34418,"[KEEN Women's Kaci Clog, Ingear Silver Bungee ...",[http://ecx.images-amazon.com/images/I/41ttJiD...,[Michael Shaffer Elizabeth Bathory Spaghetti S...,[http://ecx.images-amazon.com/images/I/41wNmuf...,"[UGG Australia Womens Hally Sneaker, Converse ...",[http://ecx.images-amazon.com/images/I/41W31uc...,[Clarks Women's Clarks Morse Tour Sandal],[http://ecx.images-amazon.com/images/I/4111KbE...,"[Unisa Women's Macie Thong Sandal,White,9 M US...",[http://ecx.images-amazon.com/images/I/41rG82X...,"[AK Anne Klein Women's Billing Su Ankle Boot, ...",[http://ecx.images-amazon.com/images/I/3154y3s...
1,41538,"[GOGO 3&quot; Stretch Knee Boot, Red Patent-Si...",[http://ecx.images-amazon.com/images/I/31G5J7X...,[Baby Phat - Kids Girls 7-16 Denim Bubble Skir...,[http://ecx.images-amazon.com/images/I/51Ui39k...,"[UGG Australia Womens Hally Sneaker, Converse ...",[http://ecx.images-amazon.com/images/I/41W31uc...,[Cherry K Crochet Turtleneck Sweater Dress in ...,[http://ecx.images-amazon.com/images/I/4107Wh3...,"[Pendleton Women's Double Time Vest, Zeagoo Wo...",[http://ecx.images-amazon.com/images/I/313w3Aa...,"[Pendleton Women's Double Time Vest, Roamans W...",[http://ecx.images-amazon.com/images/I/313w3Aa...
2,8132,"[Ivanka Trump Women's Aryella Platform Sandal,...",[http://ecx.images-amazon.com/images/I/41PXOxE...,[Southpole Juniors Sequins Class of 91 Fashion...,[http://ecx.images-amazon.com/images/I/41IFPYD...,"[UGG Australia Womens Hally Sneaker, Converse ...",[http://ecx.images-amazon.com/images/I/41W31uc...,[CONCITOR Linen Men's Dress Pants Trousers Fla...,[http://ecx.images-amazon.com/images/I/410kFyN...,"[A2 Women's Propeller Wedge Sandal, Pendleton ...",[http://ecx.images-amazon.com/images/I/41Hvn67...,"[Enzo Angiolini Women's Yoshi Sandal, CONCITOR...",[http://ecx.images-amazon.com/images/I/51BSOTe...
3,36218,[ZUTANO Boys 2-7 Cozie Bold Strap Zip Jacket w...,[http://ecx.images-amazon.com/images/I/51a3gj8...,[Keds Ella Mary Jane Sneaker (Toddler/Little K...,[http://ecx.images-amazon.com/images/I/41r7Gzp...,"[UGG Australia Womens Hally Sneaker, Converse ...",[http://ecx.images-amazon.com/images/I/41W31uc...,"[Franco Sarto Women's Danish Slingback Sandal,...",[http://ecx.images-amazon.com/images/I/41aO7qu...,"[Boutique 9 Women's Jacquelin Pump, Franco Sar...",[http://ecx.images-amazon.com/images/I/41hj6SE...,"[Franco Sarto Women's Danish Slingback Sandal,...",[http://ecx.images-amazon.com/images/I/41aO7qu...
4,9127,"[Pour La Victoire Women's Beatrice Flat,Oak,6 ...",[http://ecx.images-amazon.com/images/I/41vng5-...,"[Children's Softshell Waterproof Jacket Camo, ...",[http://ecx.images-amazon.com/images/I/51SwhnB...,"[UGG Australia Womens Hally Sneaker, Converse ...",[http://ecx.images-amazon.com/images/I/41W31uc...,[Le Soir Pour La Victoire Women's Evelia Wedge...,[http://ecx.images-amazon.com/images/I/41zQltg...,[Qupid Puffin-38 Orange Velvet Women Ankle Boo...,[http://ecx.images-amazon.com/images/I/516vLP5...,"[ACORN Women's New Spa Slide Slipper, Keds Wom...",[http://ecx.images-amazon.com/images/I/31DT-IR...

In [26]:
new_df.to_csv("../data/combined_products.csv", index=False)

In [27]:
new_dict = new_df.to_dict("records")
type(new_dict[0])

dict

In [28]:
orders_df = pd.read_csv("../data/orders.csv")
orders_df.head()

   user_id  product_id eval_set  order_id
0        1           1    train         1
1        1      137756    prior         2
2        1      152486    prior         3
3        1           2    prior         4
4        1           3    prior         5

In [29]:
user_34418 = orders_df.loc[orders_df.user_id == 34418]
user_34418

        user_id  product_id eval_set  order_id
273121    34418        9996    train    273122
273122    34418        6025    prior    273123
273123    34418      113712    prior    273124
273124    34418       10159    prior    273125
273125    34418        2079    prior    273126
273126    34418        1944    prior    273127

In [30]:
user_7588 = orders_df.loc[orders_df.user_id == 7588]
user_7588

       user_id  product_id eval_set  order_id
60468     7588          79    train     60469
60469     7588       46947    prior     60470
60470     7588       34875    prior     60471
60471     7588        7025    prior     60472
60472     7588       54732    prior     60473

In [31]:
users = pd.read_csv("../data/users.csv")
users

   user_id
0    34418
1    17284
2     8132
3    36218
4     9127
5    41538
6     7356
7     7588

In [32]:
products = []
for r, value in users.iterrows():
    user_id = value[0]
    items = (orders_df[orders_df.user_id == user_id].product_id).tolist()
    [products.append(i) for i in items]
product_df = pd.DataFrame(products, columns={"product_id"})
product_df = product_df.drop_duplicates()
product_df.size

80

In [33]:
df_products = pd.read_csv("../data/products.csv")
df_products.head()

,product_id,imUrl,product_name
0,1,http://ecx.images-amazon.com/images/I/31bmhqq5...,"Cheap Monday Women's Tight Fit Jean, Hard Coat..."
1,2,http://ecx.images-amazon.com/images/I/31hFOdT1...,Cheap Monday Women's Skinny Tight Jean
2,3,http://ecx.images-amazon.com/images/I/41-ZK3vb...,ELLAZHU Women Crew Neck Crane &amp; Fox Short ...
3,4,http://ecx.images-amazon.com/images/I/51l0gD82...,ELLAZHU Women Geometrical Designs 3/4 Sleeve C...
4,5,http://ecx.images-amazon.com/images/I/41bWE1aG...,ELLAZHU Women Baggy Diagonal Stripes Long Slee...

In [34]:
col = ['product_id','imUrl','product_name']

df_all_products = pd.DataFrame(columns=col)

for pid in products:
    
    df = df_products.loc[df_products.product_id == pid]
    df_all_products.loc[len(df_all_products)] = [df.product_id.values[0],df.imUrl.values[0],df.product_name.values[0]]
df_all_products.head()

,product_id,imUrl,product_name
0,9996,http://ecx.images-amazon.com/images/I/4111KbEx...,Clarks Women's Clarks Morse Tour Sandal
1,6025,http://ecx.images-amazon.com/images/I/41ttJiDe...,KEEN Women's Kaci Clog
2,113712,http://ecx.images-amazon.com/images/I/41iKHH17...,Dockers Dress Shirt &amp; Tie
3,10159,http://ecx.images-amazon.com/images/I/41qBGCEg...,Ingear Silver Bungee Animal Halter Dress Black...
4,2079,http://ecx.images-amazon.com/images/I/41M7ZHzU...,247 Frenzy Stretch Knit V Neck Sweater Top - N...

In [35]:
type(df_all_products.product_id[0])

int

# Mongo Connection

In [36]:
# from pymongo import MongoClient
from flask_pymongo import PyMongo
from flask import Flask, jsonify, render_template

In [37]:
app = Flask(__name__)

In [38]:
# Connection for Heroku - Will work locally
app.config["MONGO_DBNAME"] = 'clorec_db'
app.config["MONGO_URI"] = "mongodb+srv://thidar:mongoexplorer2019@city-explorer-ocvlm.mongodb.net/city_explorer?retryWrites=true"
mongo = PyMongo(app)
db = mongo.db

In [39]:
import pymongo
from pymongo import MongoClient

In [40]:
# Setup local connection
connect = 'mongodb://localhost:27017'
client = pymongo.MongoClient(connect)

In [41]:
db = client.clorec_db

In [42]:
c_users = db.user_details

In [43]:
type(new_dict[0])

dict

In [44]:
# for d in new_dict:
#     c_users.insert_one(d)

In [45]:
user_details = list(c_users.find({}, {'_id': 0}))
user_details_df = pd.DataFrame(user_details)
user_details_df

,act_imurl,act_products,popular_imurl,popular_products,prior_imurl,prior_products,rec_imf_imurl,rec_imf_products,rec_svd_imurl,rec_svd_products,rec_tfidf_imurl,rec_tfidf_products,reviewerID
0,[http://ecx.images-amazon.com/images/I/4111KbE...,[Clarks Women's Clarks Morse Tour Sandal],[http://ecx.images-amazon.com/images/I/41W31uc...,"[UGG Australia Womens Hally Sneaker, Converse ...",[http://ecx.images-amazon.com/images/I/41ttJiD...,"[KEEN Women's Kaci Clog, Ingear Silver Bungee ...",[http://ecx.images-amazon.com/images/I/3154y3s...,"[AK Anne Klein Women's Billing Su Ankle Boot, ...",[http://ecx.images-amazon.com/images/I/41rG82X...,"[Unisa Women's Macie Thong Sandal,White,9 M US...",[http://ecx.images-amazon.com/images/I/41wNmuf...,[Michael Shaffer Elizabeth Bathory Spaghetti S...,34418
1,[http://ecx.images-amazon.com/images/I/4107Wh3...,[Cherry K Crochet Turtleneck Sweater Dress in ...,[http://ecx.images-amazon.com/images/I/41W31uc...,"[UGG Australia Womens Hally Sneaker, Converse ...",[http://ecx.images-amazon.com/images/I/31G5J7X...,"[GOGO 3&quot; Stretch Knee Boot, Red Patent-Si...",[http://ecx.images-amazon.com/images/I/313w3Aa...,"[Pendleton Women's Double Time Vest, Roamans W...",[http://ecx.images-amazon.com/images/I/313w3Aa...,"[Pendleton Women's Double Time Vest, Zeagoo Wo...",[http://ecx.images-amazon.com/images/I/51Ui39k...,[Baby Phat - Kids Girls 7-16 Denim Bubble Skir...,41538
2,[http://ecx.images-amazon.com/images/I/410kFyN...,[CONCITOR Linen Men's Dress Pants Trousers Fla...,[http://ecx.images-amazon.com/images/I/41W31uc...,"[UGG Australia Womens Hally Sneaker, Converse ...",[http://ecx.images-amazon.com/images/I/41PXOxE...,"[Ivanka Trump Women's Aryella Platform Sandal,...",[http://ecx.images-amazon.com/images/I/51BSOTe...,"[Enzo Angiolini Women's Yoshi Sandal, CONCITOR...",[http://ecx.images-amazon.com/images/I/41Hvn67...,"[A2 Women's Propeller Wedge Sandal, Pendleton ...",[http://ecx.images-amazon.com/images/I/41IFPYD...,[Southpole Juniors Sequins Class of 91 Fashion...,8132
3,[http://ecx.images-amazon.com/images/I/41aO7qu...,"[Franco Sarto Women's Danish Slingback Sandal,...",[http://ecx.images-amazon.com/images/I/41W31uc...,"[UGG Australia Womens Hally Sneaker, Converse ...",[http://ecx.images-amazon.com/images/I/51a3gj8...,[ZUTANO Boys 2-7 Cozie Bold Strap Zip Jacket w...,[http://ecx.images-amazon.com/images/I/41aO7qu...,"[Franco Sarto Women's Danish Slingback Sandal,...",[http://ecx.images-amazon.com/images/I/41hj6SE...,"[Boutique 9 Women's Jacquelin Pump, Franco Sar...",[http://ecx.images-amazon.com/images/I/41r7Gzp...,[Keds Ella Mary Jane Sneaker (Toddler/Little K...,36218
4,[http://ecx.images-amazon.com/images/I/41zQltg...,[Le Soir Pour La Victoire Women's Evelia Wedge...,[http://ecx.images-amazon.com/images/I/41W31uc...,"[UGG Australia Womens Hally Sneaker, Converse ...",[http://ecx.images-amazon.com/images/I/41vng5-...,"[Pour La Victoire Women's Beatrice Flat,Oak,6 ...",[http://ecx.images-amazon.com/images/I/31DT-IR...,"[ACORN Women's New Spa Slide Slipper, Keds Wom...",[http://ecx.images-amazon.com/images/I/516vLP5...,[Qupid Puffin-38 Orange Velvet Women Ankle Boo...,[http://ecx.images-amazon.com/images/I/51SwhnB...,"[Children's Softshell Waterproof Jacket Camo, ...",9127
5,[http://ecx.images-amazon.com/images/I/31vWztZ...,[Nine West Women's Austin Pump],[http://ecx.images-amazon.com/images/I/41W31uc...,"[UGG Australia Womens Hally Sneaker, Converse ...",[http://ecx.images-amazon.com/images/I/31G5J7X...,"[GOGO 3&quot; Stretch Knee Boot, Red Patent-Si...",[http://ecx.images-amazon.com/images/I/41QBRhh...,"[Boutique 9 Women's Abeke Bootie,Black,7.5 M U...",[http://ecx.images-amazon.com/images/I/31vWztZ...,"[Nine West Women's Austin Pump, Boutique 9 Wom...",[http://ecx.images-amazon.com/images/I/51Ui39k...,[Baby Phat - Kids Girls 7-16 Denim Bubble Skir...,41538
6,[http://ecx.images-amazon.com/images/I/41TLnwS...,[Tri-Mountain Men's Mens 60/40 pique pocketed ...,[http://ecx.images-amazon.com/images/I/41W31uc...,"[UGG Australia Womens Hally Sneaker, Converse ...",[http://ecx.images-amazon.com/images/I/41VbgTD...,"[Kenneth Cole Mens Donald Duffle Coat, Black, ...",[http://ecx.images-amazon.com/images/I/41vxPMB...,"[Ecko Unltd. Men's Out The Frame Tee, Bleach W...",[http://ecx.images-amazon.com/images/I/51WUZUb...,"[T.U.K. Women's A8220L Peep-Toe Pump,Black/Red...",[http://ecx.images-amazon.com/images/I/41EKuRV...,[RADIANT PRIZE Women's Mew Fashion Casual Conc...,7356
7,[http://ecx.images-amazon.com/images/I/41W31uc...,[UGG Australia Womens Hally Sneaker],[http://ecx.images-amazon.com/images/I/41W31uc...,"[UGG Australia Womens Hally Sneaker, Converse ...",[http://ecx.images-amazon.com/images/I/410oxZP...,[Spy Love Buy Melody Kitten Heel Round Toe Hea...,[http://ecx.images-amazon.com/images/I/41W31uc...,"[UGG Australia Womens Hally Sneaker, Paris Hil...",[http://ecx.images-amazon.com/images/I/41W31uc...,"[UGG Australia Womens Hally Sneaker, Clarks Wo...",[http://ecx.images-amazon.com/images/I/51dfXZF...,"[PUMA Women's Voltaic 3 NM Running Shoe, Match...",7588

In [46]:
# userData = user_details_df.iloc[0]
# userData

In [47]:
userData = user_details_df.loc[user_details_df['reviewerID']==17284]
userData

Empty DataFrame
Columns: [act_imurl, act_products, popular_imurl, popular_products, prior_imurl, prior_products, rec_imf_imurl, rec_imf_products, rec_svd_imurl, rec_svd_products, rec_tfidf_imurl, rec_tfidf_products, reviewerID]
Index: []

In [48]:
# userData = user_details_df.loc[user_details_df['reviewerID']==7588]
data = userData.to_dict("records")

In [49]:
for t in data:
        for i in range(0,len(t['popular_imurl'])):
#         print(t['act_imurl'])
            print(t['popular_imurl'][i])

In [50]:
data = []

act_imurl=[]
act_products=[]
prior_imurl=[]
prior_products=[]
popular_imurl=[]
popular_products=[]
rec_imf_imurl=[]
rec_imf_products=[]
rec_svd_imurl=[]
rec_svd_products=[]
rec_tfidf_imurl=[]
rec_tfidf_products=[]

userData = user_details_df.loc[user_details_df['reviewerID']==34418]

for i in range(0,len(userData['prior_products'][0])):
    prior_products.append(userData.prior_products[0][i])
    prior_imurl.append(userData.prior_imurl[0][i])
for i in range(0,len(userData['act_products'][0])):
    act_products.append(userData.act_products[0][i])
    act_imurl.append(userData.act_imurl[0][i])
for i in range(0,10):
    popular_imurl.append(userData.popular_imurl[0][i])
    popular_products.append(userData.popular_products[0][i])
    rec_imf_imurl.append(userData.rec_imf_imurl[0][i])
    rec_imf_products.append(userData.rec_imf_products[0][i])
    rec_svd_imurl.append(userData.rec_svd_imurl[0][i])
    rec_svd_products.append(userData.rec_svd_products[0][i])
    rec_tfidf_imurl.append(userData.rec_tfidf_imurl[0][i])
    rec_tfidf_products.append(userData.rec_tfidf_products[0][i])
    
rec_imf_products

["AK Anne Klein Women's Billing Su Ankle Boot",
 "Salomon Women's XR Mission Running Shoe",
 'Keen Ambler Fashion Sneaker (Little Kid/Big Kid)',
 "Reef Women's Sassy Sandra Sandal,Brown/Brown,8 M US",
 "Reebok Women's Reebok Dual Turbo Running Shoe,Tin Grey/Watery Blue/White,6.5 M US",
 "AK Anne Klein Sport Women's Unbridle Sneaker",
 "Miss Me Women's Fern-2 Ballet Flat,White,7.5 M US",
 "Nine West Women's Whirly Sandal,Black/Black,8 M US",
 'Glaze by Adi High Heel Microsuede Ankle Boot',
 "Isaac Mizrahi New York Women's Lucia Pump"]